
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>电子科技大学电子设计竞赛</title>
    <link href="dist/css/bootstrap.css" rel="stylesheet">
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <script src="assets/js/ie-emulation-modes-warning.js"></script>
    <link href="dist/css/font-awesome.min.css" rel="stylesheet" >
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="#"><i class="icon-home"></i>主页</a>
          <a class="blog-nav-item active" href="#"><i class="icon-comments-alt"></i>新闻</a>
          <a class="blog-nav-item" href="#"><i class="icon-bell-alt"></i>公告</a>
          <a class="blog-nav-item" href="#"><i class="icon-download-alt"></i>资料下载</a>
          <a class="blog-nav-item" href="#"><i class="icon-picture"></i>相册</a>
        </nav>
      </div>
    </div>

 <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">电子科技大学电子设计比赛</h1>
        <p class="lead blog-description">一所神奇大学，一项神奇比赛</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">新闻列表</h2>
            <div class="list-group">
            <a href="##" class="list-group-item">
      <h3 class="list-group-item-heading">你们不要老想着搞个大新闻</h3>
      <h6><span class="label label-primary">2014/12/06</span>
		  <span class="label label-success">Author</span>
          <span class="label label-danger">265</span></h6>
      <p class="list-group-item-text">把我批判一番，图样图森破！......</p>
    		</a>
    		<a href="##" class="list-group-item">
      <h3 class="list-group-item-heading">你们不要老想着搞个大新闻</h3>
      <h6><span class="label label-primary">2014/12/06</span>
		  <span class="label label-success">Author</span>
          <span class="label label-danger">265</span></h6>
      <p class="list-group-item-text">我可是身经百战了，见得多了！......</p>
    		</a>
    		<a href="##" class="list-group-item">
      <h3 class="list-group-item-heading">我和他谈笑风生</h3>
      <h6><span class="label label-primary">2014/12/06</span>
		  <span class="label label-success">Author</span>
          <span class="label label-danger">265</span></h6>
      <p class="list-group-item-text">你们要知道，美国的华莱士水平不知道要比你们高到哪里去......</p>
    		</a>
    		<a href="##" class="list-group-item">
      <h3 class="list-group-item-heading">我以一个长者的身份劝告你们</h3>
      <h6><span class="label label-primary">2014/12/06</span>
		  <span class="label label-success">Author</span>
          <span class="label label-danger">265</span></h6>
      <p class="list-group-item-text">你们这些人啊要提高自己的姿势水平......</p>
    		</a>
    		<a href="##" class="list-group-item">
      <h3 class="list-group-item-heading">你们啊，图样图森破</h3>
      <h6><span class="label label-primary">2014/12/06</span>
		  <span class="label label-success">Author</span>
          <span class="label label-danger">265</span></h6>
      <p class="list-group-item-text">我真替你们捉鸡啊!......</p>
    		</a>
			</div>
          </div><!-- /.blog-post -->

          

			<nav ><!--nav-->
			  <ul class="pagination">
			    <li><a href="#">&laquo;</a></li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li><a href="#">&raquo;</a></li>
			  </ul>
			</nav>  
			<!--/nav-->
        </div><!-- /.blog-main -->


        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>相关</h4>
            <p>我要告诉你们我是身经百战了,见得多了,西方国家哪一个我没去过...</p>
          </div>


          <div class="sidebar-module">
            <h4>查找旧闻</h4>
            <ol class="list-unstyled">
              <li><a href="#">11/2014</a></li>
              <li><a href="#">10/2014</a></li>
              <li><a href="#">9/014</a></li>
              <li><a href="#">8/2014</a></li>
              <li><a href="#">7/2014</a></li>
              <li><a href="#">6/2014</a></li>
              <li><a href="#">5/2014</a></li>
              <li><a href="#">4/2014</a></li>
              <li><a href="#">3/2014</a></li>
              <li><a href="#">2/2014</a></li>
              <li><a href="#">1/2014</a></li>
              <li><a href="#">12/2013</a></li>
            </ol>
          </div>


          <div class="sidebar-module">
            <h4>联系我们</h4>
            <ol class="list-unstyled">
              <li><a href="#">新浪微博</a></li>
              <li><a href="#">人人</a></li>
              <li><a href="#">微信</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    

    <div class="blog-footer"> <!--.footer-->
       <div> 
	      <a href="#" target="_blank" style="border-width:0">常见问题</a>
	      <a href="#" target="_blank">联系方式</a>
	      <a href="#" target="_blank">加入我们</a>
	      <a href="#" target="_blank">关于电子设计</a>
          <a href="#">Back to top</a>
      </p>
      </div>
      <div>
	     <span>© Copyright UESTC</span>
	     <a href="#" target="_blank">ICP号</a>
	     <span>网络备案号</span>
      </div>
    </div>             <!--/.footer-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>