{% extends "base.html" %}

{% block header %}

  <div class="blog-header">
    <h1 class="blog-title">来搞个大新闻</h1>
    <p class="lead blog-description">一所神奇大学，一项神奇比赛</p>
  </div>

  
{% endblock %}

{% block content %}
  
          <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <!--<h2 class="blog-post-title">新闻</h2>-->
            <div class="panel panel-primary">
            <div class="panel-heading">来搞个大新闻</div>
            <div class="panel-body">    华莱士：最近贵国官方英文《中国日报》 (China Daily)有一则报导，标题说美国是《世界和平的威胁》。你是否认为美国是世界和平的威胁？<br> 
　　江主席：我没有看过这篇文章，不知道你转述得是否准确。既使准确，我也不知道文章的立论是泛泛而谈还是就一件事得出的引论。不过我有一个感觉，中国媒体和你们美国媒体有一个共同的爱好，就是喜欢用简单的概念描述复杂的事物，并且一哄而起，这在中国被称为“炒概念”。尽管我们不断要求他们要和政府保持一致，但我知道他们真实的目的和你们一样，就是赚钱，赚更多的钱。 至于美国是不是威胁世界和平，我不想下简单的结论而是想提供一些事实。美国的军费开支几乎相当于除美国之外其他所有国家的军费开支，美国拥有可以把地球毁灭几次的核武库和同时可以在任何地区进行两场大规模常规战争的武装力量。另一方面，美国是周边政治环境最好的大国，周边国家对美国构不成任何威胁，而所谓构成威胁的国家离美国十万八千里。常识会使我们想，如果美国不想控制世界，它保有这么强大的武装力量干什么呢？为什么不可以用这些钱去帮助美国国内的穷人和帮助穷国发展经济呢？很可惜，在这些方面欧洲是表率而美国不是，尽管后者富有得多。如果美国以武力做后盾力图控制世界，而其他国家的人民不想接受这种没有协商和讨论余地的控制，或者如你们经常提到的那个词，没有民主的控制，那么，这种武力是不是会构成对其他国家人民的一种威胁呢？我想，对这个问题你自己会作出判断，如果你象你经常声称的那样有正义感的话。<br> 　
　　华莱士：戈尔或小布什将在您的国家主席任内成为美国总统。如果他们现在正在看这个节目，您对未来中美关系有什么话要对他们说？ <br>　　
　　江主席：无论他们谁当选我都祝贺他，并希望在他的任内中美两国人民通过更多的交流、沟通和理解向着成为朋友而不是敌人的方向前进。我本人也希望成为他们的好朋友。<br> 　
华莱士：所以，您对两党竞选阵营都捐钱？<br> 
　　江主席：我们认为我们的政策是正确的，不需要花钱去买别人的支持。我们也没有这种习惯，花钱贿买政治家这种习惯是你们的不是我们的。<br> 
　　华莱士：主席先生，您如何形容今日的中美关系？<br> 
　　江主席：我们之间的关系有风有雨，甚至有乌云。但是，有时雨过天晴。我们都希望双方建立建设性的关系。 <br>
　　华莱士：这听起来真像是政客的言谈。不够坦白。<br>
　　江主席：政治家，或者如你所说，政客，经常不能非常坦率地讲话的一个原因，是不希望成为你们制造浅薄的轰动新闻而大赚其钱的工具。我知道，克林顿总统挣的比你少得多，我也很清楚，我比我们国家新闻界的那些名人挣的也少得多。我们不希望由于我们的缘故使你们更富有而显得我们更贫穷。当然，我和你们国家你所说的那些政客不能坦率讲话的主要理由是责任。在这个缺乏理解的世界上，政治家的真实的话经常会引起他并不希望发生的很严重的后果。政治家必须考虑他的话带来的可能的后果。这一点不象你们。你们“媒客”说话只考虑是不是能给你们带来更大的利益而不必承担任何责任。这是职业的不同。所以，是政治家的责任，而不是你所说的政客的油滑使我们那样说话。<br>
　　华莱士：您是世界上最后一个主要共党独裁者。<br> 
    江主席：我还有两年就退休了。您见过任期届满就退休的独裁者吗？<br></div>
            <ul class="list-group">
              <li class="list-group-item"><img src="1.jpg"></li><!--存图片-->
            </ul>
            <div class="panel-footer">
            <span class="label label-primary">2014/12/06</span>
            <span class="label label-success">Author</span>
            </div>
          </div>
          </div><!-- /.blog-post -->

            <nav>
            <ul class="pager">
                <li class="previous"><a href="#">返回列表</a></li> 
            </ul>
            <ul class="pager">
                <li class="previous"><a href="#">&laquo;上一篇</a></li>
                <li class="next"><a href="#">下一篇&raquo;</a></li>
              </ul>
            </nav>

        </div><!-- /.blog-main -->

{% endblock %}