{% extends "base.html" %}

{% block scripts %}

{% endblock %}

{% block header %}

    <div class="blog-header">
        <h1 class="blog-title">来搞个大新闻</h1>
        <p class="lead blog-description">一所神奇大学，一项神奇比赛</p>
    </div>
  
{% endblock %}

{% block content %}
  
          <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <!--<h2 class="blog-post-title">新闻</h2>-->
            <div class="panel panel-primary">
            <div class="panel-heading">{{ title }}</div>
            <div class="panel-body">{{ content }}
            </div>
            <ul class="list-group">
              <li class="list-group-item"><img src="1.jpg"></li><!--存图片-->
            </ul>
            <div class="panel-footer">
            <span class="label label-primary">{{ uptime }}</span>
            <span class="label label-success">{{ author }}</span>
            <span class="label label-success">{{ rating }}</span>
            </div>
          </div>
          </div><!-- /.blog-post -->

            <nav>
            <ul class="pager">
                <li class="previous"><a href="#">返回列表</a></li> 
            </ul>
            <ul class="pager">
                <li class="previous"><a href="#">&laquo;上一篇</a></li>
                <li class="next"><a href="#">下一篇&raquo;</a></li>
              </ul>
            </nav>

        </div><!-- /.blog-main -->

{% endblock %}