{% extends "base.html" %}

{% block content %}
      <div class="blog-header">
        <h1 class="blog-title">电子科技大学电子设计比赛</h1>
        <p class="lead blog-description">一所神奇大学，一项神奇比赛</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">

            <h2 class="blog-post-title">新闻列表</h2>
            <div class="list-group">

              <a href="##" class="list-group-item">
                <h3 class="list-group-item-heading">你们不要老想着搞个大新闻</h3>
                <h6><span class="label label-primary">2014/12/06</span>
  		          <span class="label label-success">Author</span>
                <span class="label label-danger">265</span></h6>
                <p class="list-group-item-text">把我批判一番，图样图森破！......</p>
      		    </a>

			      </div>
          </div><!-- /.blog-post -->
          
			<nav ><!--nav-->
			  <ul class="pagination">
			    <li><a href="#">&laquo;</a></li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li><a href="#">&raquo;</a></li>
			  </ul>
			</nav>  
			<!--/nav-->
    </div><!-- /.blog-main -->

{% endblock %}