{% extends "base.html" %}

{% block header %}
    <div class="content-header">
        <h1 class="content-title">Information</h1>
        <p class="lead content-description">Set some descriptions here.</p>
    </div>
{% endblock %}

{% block content %}


    <div class="col-sm-8 content-main">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span>发布人</span><span class="label label-warning" style="float:right"><i class="icon-eye-open"></i>阅读次数</span></h3>
            </div>
        <div class="panel-body">
            <p><a href="#">关于本周三全校停课的通知</a></p>
        </div>
        <div class="panel-footer">
            <p><span class="label label-success">通知时间</span></p>
        </div>

    </div>


{% endblock %}
