{% extends "base.html" %}

{% block header %}
<div class="blog-header">
    <h1 class="blog-title">资料下载</h1>
    <p class="lead blog-description">一所神奇大学，一项神奇比赛</p>
</div>
{% endblock %}

{% block content %}

    <div class="col-sm-5 col-lg-8">
        <div class="blog-post">
            <div class="list-group">
                {% for ls in this_page.object_list %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="#">{{ ls.title }}</a>
                                <span class="label label-warning" style="float:right">
                                <i class="icon-eye-open"></i>{{ ls.rating }}</span></h3>
                        </div>
                        <div class="panel-body">
                            <p>
                            {% autoescape off %}
                            <a href="upfile_content?id={{ls.id }}">详细内容</a>
                            {% endautoescape %}</p>
                        </div>
                        <div class="panel-footer">
                            <p><span class="label label-success">{{ ls.created }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <ul class="pagination">
            <li><a href="?page={{ this_page.previous_page_number }}">&laquo;</a></li>
            {% for i in length %}
            <li class="current"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li><a href="?page={{ this_page.next_page_number }}">&raquo;</a></li>
        </ul>
    </div>

{% endblock %}

{% block side %}

    <div class="sidebar-module sidebar-module-inset">
        <!--<h4>相关</h4>
        <p>我要告诉你们我是身经百战了,见得多了,西方国家哪一个我没去过...</p>-->
    </div>
    <div class="sidebar-module">
        <h4>资料列表</h4>
        <ol class="list-unstyled">
            {% for ls in side_list %}
                <li><a href="upfile_content?id={{ls.id }}">{{ ls.title }}</a></li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}